# listen on this port
port = 8080

# Requests always forwarded to this
reference = "localhost:9000"

# Shadow requests forwarded to this
shadow = "localhost:9001"

# Must be true for shadow to receive requests
enableShadowing = true

capture = "none"     # "none" | "mongodb"

audit {
   level = "warn"
   console = true
   truncate = true
   file = "default"
}

pool {
    maxOpenConnections = 70
    maxWaitMs = 5000
    maxIdleConnections = 8
    msBetweenEvictionRuns = 10000
    numTestsPerEvictionRuns = 3
    maxIdleTimeMs = 60000
    connectTimeoutMillis = 30000
    receiveTimeoutMillis = 120000
    keepAlive = true
}



