POST,PUT	/buenos-aires-ws/services/wfe/users/([^/]+)$	/ttuser/atom/users/$1
GET	/buenos-aires-ws/services/wfe/users/(.*?)/profiles/basic(.*)	/ttuser/atom/users/$1/profiles/basic$2
POST	/proxy.php(.*)	/ttuser/control/legacy$1
*	/buenos-aires-ws/tomtommain/UserService.rpc(.*)	/ttuser/gwtrpc/UserService.rpc$1
