# listen on this port
port = 8080

# Requests always forwarded to this
reference = "localhost:9090"

# Shadow requests forwarded to this
shadow = "localhost:9191"

# Must be true for shadow to receive requests
enableShadowing = true

# If these are set, rewrite the Host: header accordingly
referenceHostname = "reference.tomtom.com"
shadowHostname = "shadow.tomtom.com"

capture = "none"     # "none" | "mongodb"

audit {
   level = "info"
   console = true
   truncate = true
   file = "default"
}

pool {
    maxOpenConnections = 70
    maxWaitMs = 5000
    maxIdleConnections = 8
    msBetweenEvictionRuns = 10000
    numTestsPerEvictionRuns = 3
    maxIdleTimeMs = 60000
    connectTimeoutMillis = 30000
    receiveTimeoutMillis = 120000
    keepAlive = true
}

mongo {
    host = "localhost"
    port = 27017
    db = "splitter"
}


