port = 8080
reference = "localhost:9090"
#reference = "wservice.vega.test.tomtom.com:80"
shadow = "localhost:9191"
#shadow = "ofbiz.vega.test.tomtom.com:80"
enableShadowing = true
rewriter = "ofbiz"

referenceHostname = "wservice.vega.test.tomtom.com"
shadowHostname = "ofbiz.vega.test.tomtom.com"

capture = "none"     # "none" | "mongodb"

audit {
   level = "info"
   console = true
   truncate = true
   file = "default"
}

pool {
    maxOpenConnections = 70
    maxWaitMs = 5000
    maxIdleConnections = 8
    msBetweenEvictionRuns = 10000
    numTestsPerEvictionRuns = 3
    maxIdleTimeMs = 60000
    connectTimeoutMillis = 30000
    receiveTimeoutMillis = 120000
    keepAlive = true
}

mongo {
    host = "localhost"
    port = 27017
    db = "splitter"
}

# To start shadowing and rewriting (only) the set of Ofbiz URLs described
# at http://vos/display/PRJ/OFBiz+User+Management+-+URI+overview
# rewriter = "ofbiz"


